:root {
  --text: #050810;
  --background: #f9fafd;
  --primary: #425ac2;
  --secondary: #bb91db;
  --accent: #be65cd;

  --primary-light: oklch(from var(--primary) l c h / 0.5);

}

.header {
  background-color: var(--primary);
}

.btn {
  background-color: var(--primary-light);
  color: white;
  border-radius: 5px;
  padding: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.el-boton-llamativo {
  background-color: red;
}

.popup {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
}

.popup__container {
  background-color: white;
  padding: 1rem;
}