:root {
  --text: #050810;
  --background: #f9fafd;
  --primary: #425ac2;
  --secondary: #bb91db;
  --accent: #be65cd;
  --primary-light: oklch(from var(--primary) l c h / 0.5);
  --padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: var(--primary);
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header__title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.header__nav {
  display: flex;
  gap: var(--padding);
}

.nav__link {
  text-decoration: none;
  color: white;
}

.nav__link.active {
  color: var(--accent);
}

.btn {
  background-color: var(--primary-light);
  color: white;
  border-radius: 5px;
  padding: var(--padding);
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.el-boton-llamativo {
  background-color: red;
}

.popup {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
}

.popup__container {
  background-color: white;
  padding: var(--padding);
}

.main {
  padding: var(--padding);
}

.footer {
  padding: var(--padding);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap : 1rem;
}

.card {
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}